@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
    
    body {
        background-color: #BBEFE7DE;
    }

/* Desktop */
@media screen and (min-width: 1024px) {
    
}

/* Tablet "Medium" */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}

/* Smartphones */
@media screen and (min-width: 0px) and (max-width: 760px) {
    
    section {
        padding: 10px 0;
    }
    
    i {
        font-size: 31px;
    }

    p {
        font-family: 'Roboto Medium', arial;
        font-size: 16px;
        font-weight: 400;
    }

    .titulo {
        font-family: 'Roboto Medium', arial;
        font-size: 23px;
        font-weight: 700;
    }

    .sub-titulos {
        font-family: 'Roboto Medium', arial;
        font-size: 18px;
        font-weight: 700;
    }
}   






